:host {
    position: absolute;
    display: block;
    width: 100%;
    line-height: 3;

    > span {
        position: relative;
        z-index: 1;
        display: inline-block;
        padding: 0 5px;
        line-height: 1.5;
    }
}
