@import "../../../../../styles/bootstrap/functions";
@import "../../../../../styles/bootstrap/variables";
@import "../../../../../styles/bootstrap/mixins";

:host {
    .card-project {
        .overlay-modal {
            .btn-outline-success {
                border-width: 2px;
                border-color: #fff;
                color: #fff;
            }
        }

        .form-control {
            padding: 2px 0;
            height: auto;
            width: 150px;
            min-width: auto;
            text-align: center;
            border-color: transparent;
            font-weight: 600;
            transition: ease 420ms border-color;

            &[readonly] {
                background-color: #fff;
            }

            &:focus {
                box-shadow: none;
            }
        }

        > .card-body {
            > :nth-child(2) {
                a {
                    opacity: 0;
                    transition: ease 420ms opacity;
                }
            }
        }
    }

    .overlay {
        @include hover-focus {
            .card-project > .card-body {
                > :nth-child(2) {
                    a {
                        opacity: 1;
                        transition: ease 420ms opacity;
                    }

                    .form-control {
                        transition: ease 420ms border-color;
                        border-color: $pink;
                    }
                }
            }
        }
    }
}
