<div class="signup-page">
  <form class="form-signup" name="form" (ngSubmit)="f.form.valid && resetPassword()" #f="ngForm" novalidate>
      <h2>Reset password</h2>
  
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
          <input type="password" class="form-control"  id="password" name="password" #password="ngModel" [(ngModel)]="model.password" required placeholder="Password" />
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmPassword.valid }">
          <input type="password" class="form-control"  id="confirmPassword" name="confirmPassword" #confirmPassword="ngModel" [(ngModel)]="model.confirmPassword" required placeholder="Confirm Password" />
      </div>
  
      <button class="btn btn-custom btn-sm btn-green btn-submit">Reset</button>
  
      <div *ngIf="notification.error" class="alert alert-danger">{{ notification.msg }}</div>
      <div *ngIf="notification.success" class="alert alert-success">{{ notification.msg }}</div>
  
  </form>
</div>