@-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
}
.vs-complete {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #102126;
  z-index: 200;
  overflow: hidden;
  .video_loading-container {
    position: absolute;
    top: calc(32% - 50px);
    left: calc(50% - 200px);
    width: 400px;
    text-align: center;

    .pre-loader {
      -webkit-animation: rotate 2s infinite linear;
              animation: rotate 2s infinite linear;
      width: 100px;
      height: 100px;
      display: inline-block;
      -webkit-transform-origin: 48px 52px;
              transform-origin: 48px 52px;
      position: relative;
      margin-top: 100px;
      margin-bottom: 10px;
      z-index: 9;
    }
    .pre-loader img {
      max-width: 100%;
    }
    .text-publishing {
      z-index:999;
      padding-left:-30px !important;
      color:#009EDC;
      opacity: inherit;
      position: relative;
      margin-bottom: 10px;
    }
    .text-loading {
      color: white;
    }
    .progress {
      z-index:99;
      opacity: inherit;
      position: relative;
      margin-bottom: 10px;
      .progress-bar {
        background-color:#009EDC;
      }
    }
  }
  .vs-complete-top__bar {
      display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: #1d2b3c;
    .vs-complete-download__icon {
      position: absolute;
      top: 28px;
      right: 90px;
    }
    .vs-complete-download__text {
      position: absolute;
      top: 37px;
      right: 70px;
      width: 60px;
      text-align: center;
      font-size: x-small;
      color: #eeeeee;
    }
  }
}

#finalVideo {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: calc(80% - 50px);
    background-color: transparent;
}

vg-volume .volumeBar,
vg-scrub-bar .scrubBar {
  outline: none;
}

@keyframes blink {50% { color: transparent }}
.loader__dot { animation: 1500ms blink infinite }
.loader__dot:nth-child(2) { animation-delay: 500ms }
.loader__dot:nth-child(3) { animation-delay: 1000ms }
