@import "../bootstrap/functions";
@import "../bootstrap/mixins";
@import "../bootstrap/variables";

#workarea-container {
    width: 100%;
    height: calc(100% - 44px);
    overflow: hidden;
}

#frame {
    position: absolute;
    overflow: hidden;
}

#workarea-background {
    position: absolute;
}

#image-wrapper,
#workarea-canvas {
    position: absolute;
}

#seekbar,
.seekbar {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 44px;
    background-color: #191E22 !important;
    min-width: 350px;
}

.detail-video-icon {
    position: absolute;
    top: 6px;
    left: 15px;
    height: 35px;
    width: 53px;
}

.detail-video-icon .fa {
    font-size: 21px;
    padding: 4px 17px 4px 17px;
    border-radius: 4px;
    background-color: #323d46;
    text-align: center;
    color: #fff;
    width: inherit;
    height: inherit;
    line-height: 28px;
}

.detail-video-bar {
    top: 50%;
    padding: 0 10px;
    margin: 0 70px 0 70px;
}

.detail-video-range {
    font-family: $font-family-base;
    position: absolute;
    top: 0px;
    right: 10px;
    width: auto;
    color: white;
    text-align: center;
    margin-top: 13px;
}

.detail-image-bar {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    color: white;
    width: 200px;
}

.detail-image-slider {
    display: inline-block;
    width: 150px;

    .ui-slider {
        margin-top: 15px;
    }
}

.detail-image-value {
    display: inline-block;
    width: 40px;
    line-height: 35px;
    text-align: center;
}

.custom-slider {
    .ui-slider-horizontal {
        height: 44px;
    }
    .ui-slider {
        cursor: pointer;
        box-shadow: none;
        background-color: #ccc;
        border-radius: 0;

        .ui-slider-handle {
            top: -1px !important;
            width: 9px !important;
            height: 46px !important;
            margin-left: 0px;
            background: #f51569;
            border-radius: 0;
            z-index: 3;
            cursor: e-resize;

            &::after {
                position: absolute;
                top: 11px;
                left: 1px;
                height: 50%;
                width: 4px;
                border-left: 1px solid #1b2126;
                border-right: 1px solid #1b2126;
                content: "";
            }

            &::before {
                position: absolute;
                top: 4px;
                left: -3px;
                height: 80%;
                width: 4px;
                background-color: #f51569;
                content: "";
            }

            ~ .ui-slider-handle {
                &::after {
                    left: auto;
                    right: 1px;
                }
                &::before {
                    left: auto;
                    right: -3px;
                }
            }
        }
        .ui-slider-current-time,
        .ui-slider-current-handle {
            width: 2px;
            height: 48px;
            background: #fff;
            position: absolute;
            top: -4px;
            pointer-events: none;
            z-index: 2;

            &::before {
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                border: 2px solid #fff;
                background-color: #f51569;
                content: "";
                margin-left: -5px;
                margin-top: -8px;
            }
        }
        .ui-slider-range {
            border-radius: 0;
            background-color: #a3194d;
            box-shadow: none;
        }
    }
}
