<div class="page-info clearfix">
  <div class="page-meta">
    <div *ngIf="!props.isInProjectDetail">
      <div class="page-title">
        <span>All Projects</span>
      </div>
    </div>
    <div *ngIf="props.isInProjectDetail">
      <input appFocus focus="true" *ngIf="props.isProjectTitleEditing" class="page-title-input" [(ngModel)]="props.pageTitle" (keyup.enter)="saveProjectTitle()">
      <div class="page-title" *ngIf="!props.isProjectTitleEditing">
        <span (click)="editProjectTitle()" [ngStyle]="{'display': 'inline-block'}">{{props.pageTitle}}</span>
        <img src="../../../../assets/layout/icons/icon-pencil.png" class="icon" [ngStyle]="{'display': 'inline-block'}" />
      </div>
    </div>
  </div>
  <div class="user-info">
    <div ngbDropdown class="d-inline-block user-menu" placement="bottom-right">
      <a id="user-setting-dropdown" class="dropdown-toggle" ngbDropdownToggle>
        <img class="img-circle" style="border-radius: 50%" src="{{ props.user.usr_photo }}">
      </a>
      <ul ngbDropdownMenu aria-labelledby="user-setting-dropdown" class="dropdown-content">
        <li class="dropdown-header">
          <p>{{props.user.usr_name}}</p>
          <span>{{props.user.usr_company}}</span>
        </li>
        <li class="divider"></li>
        <li>
          <a href="myaccount">My Account</a>
        </li>
        <li>
          <a href="timezone">Settings</a>
        </li>
        <li>
          <a target="_blank" href="http://blurbiz.io/support">Help</a>
        </li>
        <li class="divider"></li>
        <li class="dropdown-footer" [routerLink]="['/login']">
          <a (click)="onLoggedout()">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>