<div class="page-info clearfix">
  <div class="page-meta">
    <div *ngIf="!props.isTitleEditable">
      <div class="page-title">
        <span>{{props.pageTitle}}</span>
      </div>
    </div>
    <div *ngIf="props.isTitleEditable">
      <input appFocus focus="true" *ngIf="props.isProjectTitleEditing" class="page-title-input" [(ngModel)]="props.pageTitle" (keyup.enter)="saveProjectTitle()">
      <div class="page-title" *ngIf="!props.isProjectTitleEditing">
        <span (click)="editProjectTitle()" [ngStyle]="{'display': 'inline-block'}">{{props.pageTitle}}</span>
        <img src="../../../../assets/layout/icons/icon-pencil.png" class="icon" [ngStyle]="{'display': 'inline-block'}" />
      </div>
    </div>
  </div>
  <div class="user-info">
    <div ngbDropdown class="d-inline-block user-menu" placement="bottom-right">
      <a id="user-setting-dropdown" class="dropdown-toggle" ngbDropdownToggle>
        <img class="img-circle" style="border-radius: 50%" [src]="props.user.usr_photo">
      </a>
      <ul ngbDropdownMenu aria-labelledby="user-setting-dropdown" class="dropdown-content">
        <li class="dropdown-header">
          <p>{{props.user.usr_name}}</p>
          <span>{{props.user.usr_company}}</span>
        </li>
        <li class="divider"></li>
        <li>
          <a [routerLink]="['/settings']">Settings</a>
        </li>
        <li>
          <a target="_blank" href="https://blurbiz.cnflx.io/public">
            Suggest a Feature&nbsp;&nbsp;
            <span class="new_banner">&nbsp;&nbsp;New&nbsp;&nbsp;</span>
          </a>
        </li>
        <li>
          <a target="_blank" href="http://blurbiz.io/support">Help</a>
        </li>
        <li>
          <a [routerLink]="['/user-management']" class="admin_setting">
            Admin&nbsp;
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
          </a>
        </li>
        <li class="divider"></li>
        <li class="dropdown-footer" [routerLink]="['/login']">
          <a (click)="onLoggedout()">Sign Out</a>
        </li>
      </ul>
    </div>
  </div>
</div>