<div [formGroup]="group" *ngIf="group">
    <div class="form-group">
        <div class="d-flex align-items-center">
            <input type="text" class="form-control" formControlName="text" placeholder="Click here to add subtitle">
            <a href="javascript:;" class="btn bg-transparent text-muted" (click)="remove(group.value)">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" stroke="none" />
                </svg>
            </a>
        </div>
    </div>
    <div class="form-group">
        <app-range-slider [behaviour]="'drag'" [connect]="true" [min]="0" [max]="group.get('totalTime').value" [formControl]="group.get('rangeTime')" [keyboard]="true" [step]="0.1" (slide)="seekTime($event)" (start)="onStart($event)" (end)="onEnd($event)" (update)="onUpdate($event)"></app-range-slider>
    </div>
    <div class="form-group mb-0">
        <div class="d-flex">
            <div style="width: 80px;">
                <input type="text" class="form-control form-control-sm text-center" step="0.1" [value]="toMillisecond(group.value.rangeTime[0]).format('mm:ss:SS')" (change)="updateStartTime($event.target.value)" mask="00:00:00">
                <div class="form-text text-muted text-center">Start time</div>
            </div>
            <div class="px-2 pt-2">-</div>
            <div style="width: 80px;">
                <input type="text" class="form-control form-control-sm text-center" step="0.1" [value]="toMillisecond(group.value.rangeTime[1]).format('mm:ss:SS')" (change)="updateEndTime($event.target.value)" mask="00:00:00">
                <div class="form-text text-muted text-center">End time</div>
            </div>
        </div>
    </div>
</div>

<div class="p-3" *ngIf="!group">
    <div class="form-group">
        <div class="d-flex align-items-center">
            <input type="text" class="form-control" placeholder="Click here to add subtitle">
            <a href="javascript:;" class="btn bg-transparent text-muted">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" stroke="none" />
                </svg>
            </a>
        </div>
    </div>
    <div class="form-group">
        <app-range-slider [min]="0" [max]="10"></app-range-slider>
    </div>
    <div class="form-group mb-0">
        <div class="d-flex">
            <div style="width: 80px;">
                <input type="text" class="form-control form-control-sm text-center" value="00:00">
                <div class="form-text text-muted text-center">Start time</div>
            </div>
            <div class="px-2 pt-2">-</div>
            <div style="width: 80px;">
                <input type="text" class="form-control form-control-sm text-center" value="03:00">
                <div class="form-text text-muted text-center">End time</div>
            </div>
        </div>
    </div>
</div>
