<section id="content" class="mask2Background" [ngClass]="props.isPrepairingView ? 'preparing' : 'on'">
  <div class="edit-container">
    <app-vs-sidebar id="app-vs-sidebar"></app-vs-sidebar>
    <app-vs-workspace id="app-vs-workspace"></app-vs-workspace>
  </div>
  <section id="controlbar">
    <app-vs-controlbar id="app-vs-controlbar" (onRepositionFrame)="onRepositionFrame($event)"></app-vs-controlbar>
  </section>
  <span #draggableText id="draggableText" *ngIf="props.isDraggableText" ngDraggable (started)="onDragTextBegin($event)" (stopped)="onDragTextEnd($event)" (movingOffset)="onTextMoving($event)" (endOffset)="onTextMoveEnd($event)" style="z-index: 100;"></span>
  <img id="draggableImage" draggable="false" *ngIf="props.isDraggableImage" ngDraggable (started)="onDragImageBegin($event)" (stopped)="onDragImageEnd($event)" (movingOffset)="onImageMoving($event)" (endOffset)="onImageMoveEnd($event)" style="z-index: 100;">
  <div id="ui-current-time-badge" style="position: absolute; width: 50px; height: 20px; text-align: center; border-radius: 4px; background: #191E22; color:white; z-index: 4"></div>
</section>

<div class="modalContent modalContentBlurAndDarken" [hidden]="!props.isOnRepositionFrame">
  <div class="modalContentMask"></div>
  <div class="multipageDialog repositionDialog" [hidden]="!props.isOnRepositionFrame">
      <button class="buttonLink dialogMaskCloseButton repositionDialogCloseButton" (click)="onCloseModal()" style="opacity: 1; z-index: 1000; color:white">Close</button>
      <div class="multipageDialogPageWrapper">
          <div class="multipageDialogPage multipageDialogCurrentPage">
          <div class="reposition">
              <div class="repositionDialogFeaturePromo repositionBody">
                <app-vs-reposition id="app-vs-reposition" (onEndFrameReposition)="onEndFrameReposition($event)"></app-vs-reposition>
              </div>
          </div>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
