<!-- <div class="form-container">
  <h2>Confirm</h2>
  <div *ngIf="notification.error" class="alert alert-danger">{{ notification.error }}</div>
  <div *ngIf="notification.success" class="alert alert-success">Conguratlation</div>
  <div *ngIf="notification.success" class="alert alert-info">Please wait. You will be redirected automatically to home page.</div>
</div>
 -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="text-center">
                <h6 class="text-uppercase text-pink mt-5 mb-4">You Have Verified Your Account</h6>
                <h1 class="display-4 mb-4">Congratulations!</h1>
                <h6 class="text-muted font-weight-light mb-2">Please wait...</h6>
                <h6 class="text-muted font-weight-light m-0">While we take you to your <span class="text-pink font-weight-medium">dashboard</span></h6>
            </div>
        </div>
    </div>
</div>
<canvas id="confetti-js"></canvas>
