@import "../../../../../styles/bootstrap/functions";
@import "../../../../../styles/bootstrap/variables";
@import "../../../../../styles/bootstrap/mixins";

:host {
    .btn-secondary {
        @include button-variant(#1b2126, #1b2126);

        &.active {
            @include button-variant($pink, $pink);
        }
    }

    .btn-ratio {
        @include button-outline-variant(#f3f5f7, #f3f5f7);
        border-style: dashed;
        font-size: 80%;
        min-height: 38px;

        &.btn-ratio-9by16 {
            padding-left: 2px;
            padding-right: 2px;
        }

        &.btn-ratio-1by1 {
            padding-left: 10.5px;
            padding-right: 10.5px;
        }

        &.btn-ratio-16by9 {
            padding-left: 20px;
            padding-right: 20px;
        }

        &.active,
        &.active:hover {
            @include button-outline-variant($pink, $pink);
            color: color-yiq($pink) !important;
            background-color: $pink !important;
        }

        &:hover {
            @include button-outline-variant($pink, $pink);
            background-color: transparent !important;
        }
    }

    .scenebar-menu {
        list-style: none;
        transition: margin 0.5s ease;
        text-align: center;
        margin: 1px;

        li {
            float: left;
        }
    }

    .dropdown-color-picker.show {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
    .dropdown .dropdown-color-picker.show::after,
    .dropdown .dropdown-color-picker.show::before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .dropdown .dropdown-color-picker.show::after {
        border-color: rgba(213, 213, 213, 0);
        border-bottom-color: $dropdown-bg;
        border-width: 10px;
        margin-left: -10px;
    }
    .dropdown .dropdown-color-picker.show::before {
        border-color: rgba(0, 0, 0, 0);
        border-bottom-color: $dropdown-border-color;
        border-width: 11px;
        margin-left: -11px;
    }

    .dropup .dropdown-color-picker.show::after,
    .dropup .dropdown-color-picker.show::before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    .dropup .dropdown-color-picker.show::after {
        border-color: rgba(213, 15, 15, 0);
        border-top-color: $dropdown-bg;
        border-width: 10px;
        margin-left: -10px;
    }
    .dropup .dropdown-color-picker.show::before {
        border-color: rgba(0, 0, 0, 0);
        border-top-color: $dropdown-border-color;
        border-width: 11px;
        margin-left: -11px;
    }
}
