
  <div class="controlbar-inner brandPrimaryGrandient">
    <div id="controlbar-primary-menu">
      <menu id="primaryNavigation" class="navigation">
        <li>
          <a id="editorLogo" href="/">Blurbiz</a>
        </li>
        <li>
          <span id="documentSyncStatus">All changes saved</span>
        </li>
      </menu>
    </div>
    <div id="controlbar-reposition-menu">
      <menu id="controlbar-reposition">
        <li>
          <button class="button editorActionReposition prerollAnimation prerollDelay4" (click)="reposition()">Reposition <img class="reposition_icon" src="../../../../../assets/control-bar/image/reposition.png" style="width:15px; height: 15px"></button>
        </li>
      </menu>
    </div>
    <div id="controlbar-title-menu" class="withResizeHeaderButton">
      <menu id="controlbar-menu">
        <!-- <li>
          <button class="button editorActionReplace prerollAnimation prerollDelay3" (click)="replace()"><i class="fa fa-refresh" aria-hidden="true"></i> &nbsp;Replace</button>
        </li> -->
        <li>
          <button class="button editorActionComplete prerollAnimation prerollDelay5" [routerLink]="['complete']" (click)="complete()"><i class="fa fa-eye" aria-hidden="true"></i> &nbsp;{{props.completeText}}</button>
        </li>
        <li>
          <a class="button editorActionBack prerollAnimation prerollDelay6" href="/project/detail/{{props.projectId}}"><i class="fa fa-angle-left" aria-hidden="true"></i> &nbsp;Back</a>
        </li>
      </menu>
    </div>
  </div>