<div *ngIf="!props.isInVideoStudio">
  <div id="wrapper" ngClass="{'open': toggle, 'toggled-2': !toggle, 'bared': isBared}" ngCloak>
    <app-sidebar></app-sidebar>
    <div id="content-wrapper">
      <div class="page-content">
        <app-header></app-header>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<router-outlet *ngIf = "props.isInVideoStudio"></router-outlet>
<div class="backdrop" [hidden]="!props.showGetStartedDialog"></div>
  <div class="modal" tabindex="-1" role="dialog" [hidden]="!props.showGetStartedDialog" style="display: block">
    <div class="modal-dialog" style="max-width: 700px;">
        <div class="modal-content">
            <div class="modal-body">
                <span class="btn-close" (click)="closeVideoModal()" role="button" tabindex="0"></span>
                <h3 class="modal-title">How to get started!</h3>
                <h6>Quick guide to creating amazing videos on Blurbiz</h6>
            </div>
            <youtube-player
              [videoId]="props.videoId"
              [width]="668"
              [height]="400"
              (ready)="savePlayer($event)"
              (change)="onStateChange($event)"
              style="text-align: center"
            >
            </youtube-player>
            <div class="modal-footer" style="justify-content: space-between">
              <label style="text-align: center">
                <input type="checkbox" [ngModel]="props.dontShowAgain" (ngModelChange)="onDontShowAgain($event)"/>&nbsp;&nbsp;Do not show this video again
              </label>
              <button class="btn btn-custom btn-green btn-md" (click)="okayIgotIt()" style="float: right">Okay, I got it!</button>
            </div>
        </div>
    </div>
</div>

<style>
.backdrop{
  background-color:rgba(0,0,0,0.6);
  position: fixed;;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}
</style>