@import "../../../styles/bootstrap/functions";
@import "../../../styles/bootstrap/variables";
@import "../../../styles/bootstrap/mixins";

:host {
    display: flex;
    flex: 1;
    min-height: 100vh;

    .scrollable {
        .overlay {
            overflow: hidden;
            border-radius: $border-radius;
            border: $border-width dashed $border-color;

            .overlay-modal {
                background-color: rgba($color: #fff, $alpha: 0.5);
            }
        }
    }

    .btn-secondary {
        @include button-variant(#989898, #989898);
    }
}
