@import "../../../styles/bootstrap/functions";
@import "../../../styles/bootstrap/variables";
@import "../../../styles/bootstrap/mixins";

:host {
    display: flex;
    flex: 1;
    min-height: 100vh;

    .scrollable {
        .overlay {
            overflow: hidden;
            border-radius: $border-radius;
            border: $border-width dashed $border-color;
        }
    }
}
