:host {
    #scenebar-total-duration {
        float: right;
        text-align: right;
        color: white;
        padding: 0 10px 0 0;
        margin-top: 10px;
        line-height: 1.1;

        .btn-muted {
            position: absolute;
            top: -55px;
            right: 12px;
            background-color: #8e8e8e;
            color: #fff;
            border-width: 0px;
            padding: 5px 16px;
            padding-left: 8px;
            border-radius: 6px;
            font-weight: 600;

            .icon {
                fill: currentColor;
                margin-right: 5px;
                width: 32px;
                height: 32px;
            }
        }
    }
}
