<div class="user-setting">
    <ngb-tabset>
        <ngb-tab title="Users">
            <ng-template ngbTabContent>
                <div class="user-analytic">
                    <div class="user-analytic-icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            viewBox="0 0 490.3 490.3" style="enable-background:new 0 0 490.3 490.3;" xml:space="preserve">
                            <g>
                                <g>
                                    <path style="fill:#ffffff;" d="M384.8,185.15h8.1c13.3,0,24,10.8,24,24v37.7c0,2.4-1.2,4.6-3.2,5.9c-2.8,1.8-4.4,4.9-4.4,8.2v36.3
                                        c0,4.5,2.5,8.4,6.5,10.4c4.7,2.3,29.1,14.6,51.7,33.2c1.9,1.6,3,3.9,3,6.5v25.8c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-25.8
                                        c0-8.5-3.7-16.4-10.3-21.8c-19.9-16.4-41.2-28.2-51-33.3v-26.7c4.8-5,7.6-11.6,7.6-18.7v-37.7c0-24.2-19.7-43.8-43.8-43.8h-8.1
                                        c-24.2,0-43.8,19.7-43.8,43.8v37.7c0,7.1,2.8,13.7,7.6,18.7v12.9c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-17.4
                                        c0-3.3-1.7-6.4-4.4-8.2c-2-1.3-3.2-3.5-3.2-5.9v-37.7C360.7,195.95,371.5,185.15,384.8,185.15z"/>
                                    <path style="fill:#ffffff;" d="M10.3,325.65c-6.5,5.4-10.3,13.3-10.3,21.8v25.8c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-25.8
                                        c0-2.5,1.1-4.9,3-6.5c22.6-18.5,47-30.9,51.7-33.2c4-2,6.5-5.9,6.5-10.4v-36.3c0-3.3-1.7-6.4-4.4-8.2c-2-1.3-3.2-3.5-3.2-5.9
                                        v-37.7c0-13.3,10.8-24,24-24h8.1c13.3,0,24,10.8,24,24v37.7c0,2.4-1.2,4.6-3.2,5.9c-2.8,1.8-4.4,4.9-4.4,8.2v18.2
                                        c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-13.6c4.8-5,7.6-11.6,7.6-18.7v-37.7c0-24.2-19.7-43.8-43.8-43.8h-8.1
                                        c-24.2,0-43.8,19.7-43.8,43.8v37.7c0,7.1,2.8,13.7,7.6,18.7v26.7C51.5,297.45,30.2,309.35,10.3,325.65z"/>
                                    <path style="fill:#ffffff;" d="M364.2,383.15c5.5,0,9.9-4.4,9.9-9.9v-33.4c0-10.1-4.4-19.5-12.2-25.9c-26.7-22-55.3-37.6-67-43.6
                                        v-37.6c6.2-6,9.8-14.2,9.8-23v-48.8c0-29.7-24.2-53.8-53.8-53.8h-10.5c-29.7,0-53.8,24.2-53.8,53.8v48.8c0,8.8,3.6,17,9.8,23v37.6
                                        c-11.7,6-40.3,21.6-67,43.6c-7.8,6.4-12.2,15.8-12.2,25.9v33.4c0,5.5,4.4,9.9,9.9,9.9c5.5,0,9.9-4.4,9.9-9.9v-33.4
                                        c0-4.1,1.8-8,5-10.6c29.5-24.2,61.4-40.3,67.5-43.3c4.2-2,6.8-6.2,6.8-10.8v-47c0-3.3-1.7-6.4-4.4-8.2c-3.4-2.3-5.4-6-5.4-10.1
                                        v-48.8c0-18.8,15.3-34,34-34H251c18.8,0,34,15.3,34,34v48.8c0,4-2,7.8-5.4,10.1c-2.8,1.8-4.4,4.9-4.4,8.2v47
                                        c0,4.6,2.6,8.8,6.8,10.9c6.1,3,38,19.1,67.5,43.3c3.2,2.6,5,6.5,5,10.6v33.4C354.3,378.75,358.7,383.15,364.2,383.15z"/>
                                </g>
                            </g>
                        </svg>
                    </div>
                    <div class="user-analytic-counts">
                        <div>
                            <div>{{numberFormat(user.totalUserCount.toString(), ',')}}</div>
                            Users
                        </div>
                        <div>
                            <div>{{numberFormat(user.signedUpTodayUserCount.toString(), ',')}}</div>
                            Signed up today
                        </div>
                    </div>
                </div>
                <input
                    type='text'
                    style='padding:8px;margin:15px auto;width:30%;'
                    placeholder='Type to filter the name column...'
                    (keyup)='updateFilter($event)'
                />
                <div class="users-table">
                    <ngx-datatable
                        class="material"
                        [rows]="user.users"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="50"
                        [selected]="user.selectedUsers"
                        [selectionType]="'checkbox'"
                        [trackByProp]="'updated'"
                        (activate)="onActivateRecord($event)">
                        <ngx-datatable-column
                            [width]="30"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [headerCheckboxable]="true"
                            [checkboxable]="true">
                        </ngx-datatable-column>
                        <!-- <ngx-datatable-column prop="info" name="User" [comparator]="nameComparator">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div class="cell-user-info">
                                    <div class="user-avatar">
                                        <img [src]="value.avatar" width="40"/>
                                    </div>
                                    <div class="user-info">
                                        <div id="user-name">
                                            {{value.name}}
                                        </div>
                                        <div id="user-registered-date">
                                            Registered: {{value.registeredDate}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column> -->
                        <ngx-datatable-column prop="name" name="User"></ngx-datatable-column>
                        <ngx-datatable-column prop="email" name="Email"></ngx-datatable-column>
                        <ngx-datatable-column prop="created" name="Created" [comparator]="createdComparator">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value.date}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="activity" name="Last Seen" [comparator]="activityComparator">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value.date}}
                            </ng-template>
                        </ngx-datatable-column>
                        <!-- <ngx-datatable-column prop="usage" name="Usage" [comparator]="usageComparator">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div class="cell-usage">
                                    <div class="cell-usage-text">
                                        <div class="cell-usage-percent">
                                            {{value.usagePercent}}%
                                        </div>
                                        <div class="cell-usage-period">
                                            {{value.usagePeriod}}
                                        </div>
                                    </div>
                                    <div class="cell-usage-progress-bar">
                                        <div class="cell-usage-progress-bar-inner" [ngStyle]="{'width': value.usagePercent + '%'}"></div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column> -->
                        <!-- <ngx-datatable-column prop="lastLoginDate" name="Activity" [comparator]="activityComparator">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div class="cell-activity">
                                    <div class="activity-type">
                                        Last Login
                                    </div>
                                    <div class="activity-content">
                                        {{value.diff}}
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column> -->
                        <ngx-datatable-column prop="company" name="Company"></ngx-datatable-column>
                        <ngx-datatable-column prop="playOrPause" name="Play/Pause/Delete" [sortable]="false">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div style="float: left; margin-right: 40px;">
                                    <img class="cell-play-or-pause" [src]="value == true ? '/assets/admin/play.svg' : '/assets/admin/pause.svg'" (click)="onPlayOrPause(value)"/>
                                </div>                                
                                <div style="float: left; top: -6px; position:relative;" class="cell-option" [ngbPopover]="optionContent" placement="bottom" #optionPopover="ngbPopover" (document:click)="optionPopover.close()" (click)="$event.stopPropagation()"></div>
                            </ng-template>
                            <ng-template #optionContent>
                                <div (click)="onDeleteRecord()" class="cell-option-popover">
                                    <i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <!-- <ngx-datatable-column [sortable]="false">
                            <ng-template ngx-datatable-cell-template>
                                <div class="cell-option" [ngbPopover]="optionContent" placement="bottom" #optionPopover="ngbPopover" (document:click)="optionPopover.close()" (click)="$event.stopPropagation()"></div>
                            </ng-template>
                            <ng-template #optionContent>
                                <div (click)="onDeleteRecord()" class="cell-option-popover">
                                    <i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete
                                </div>
                            </ng-template>
                        </ngx-datatable-column> -->
                    </ngx-datatable>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Team Members" *ngIf="props.showMemberPanel">
            <ng-template ngbTabContent>
                <div class="member-analytic">
                    <div style="display: flex">
                        <div class="member-analytic-icon">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                viewBox="0 0 490.3 490.3" style="enable-background:new 0 0 490.3 490.3;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path style="fill:#ffffff;" d="M384.8,185.15h8.1c13.3,0,24,10.8,24,24v37.7c0,2.4-1.2,4.6-3.2,5.9c-2.8,1.8-4.4,4.9-4.4,8.2v36.3
                                            c0,4.5,2.5,8.4,6.5,10.4c4.7,2.3,29.1,14.6,51.7,33.2c1.9,1.6,3,3.9,3,6.5v25.8c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-25.8
                                            c0-8.5-3.7-16.4-10.3-21.8c-19.9-16.4-41.2-28.2-51-33.3v-26.7c4.8-5,7.6-11.6,7.6-18.7v-37.7c0-24.2-19.7-43.8-43.8-43.8h-8.1
                                            c-24.2,0-43.8,19.7-43.8,43.8v37.7c0,7.1,2.8,13.7,7.6,18.7v12.9c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-17.4
                                            c0-3.3-1.7-6.4-4.4-8.2c-2-1.3-3.2-3.5-3.2-5.9v-37.7C360.7,195.95,371.5,185.15,384.8,185.15z"/>
                                        <path style="fill:#ffffff;" d="M10.3,325.65c-6.5,5.4-10.3,13.3-10.3,21.8v25.8c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-25.8
                                            c0-2.5,1.1-4.9,3-6.5c22.6-18.5,47-30.9,51.7-33.2c4-2,6.5-5.9,6.5-10.4v-36.3c0-3.3-1.7-6.4-4.4-8.2c-2-1.3-3.2-3.5-3.2-5.9
                                            v-37.7c0-13.3,10.8-24,24-24h8.1c13.3,0,24,10.8,24,24v37.7c0,2.4-1.2,4.6-3.2,5.9c-2.8,1.8-4.4,4.9-4.4,8.2v18.2
                                            c0,5.5,4.4,9.9,9.9,9.9s9.9-4.4,9.9-9.9v-13.6c4.8-5,7.6-11.6,7.6-18.7v-37.7c0-24.2-19.7-43.8-43.8-43.8h-8.1
                                            c-24.2,0-43.8,19.7-43.8,43.8v37.7c0,7.1,2.8,13.7,7.6,18.7v26.7C51.5,297.45,30.2,309.35,10.3,325.65z"/>
                                        <path style="fill:#ffffff;" d="M364.2,383.15c5.5,0,9.9-4.4,9.9-9.9v-33.4c0-10.1-4.4-19.5-12.2-25.9c-26.7-22-55.3-37.6-67-43.6
                                            v-37.6c6.2-6,9.8-14.2,9.8-23v-48.8c0-29.7-24.2-53.8-53.8-53.8h-10.5c-29.7,0-53.8,24.2-53.8,53.8v48.8c0,8.8,3.6,17,9.8,23v37.6
                                            c-11.7,6-40.3,21.6-67,43.6c-7.8,6.4-12.2,15.8-12.2,25.9v33.4c0,5.5,4.4,9.9,9.9,9.9c5.5,0,9.9-4.4,9.9-9.9v-33.4
                                            c0-4.1,1.8-8,5-10.6c29.5-24.2,61.4-40.3,67.5-43.3c4.2-2,6.8-6.2,6.8-10.8v-47c0-3.3-1.7-6.4-4.4-8.2c-3.4-2.3-5.4-6-5.4-10.1
                                            v-48.8c0-18.8,15.3-34,34-34H251c18.8,0,34,15.3,34,34v48.8c0,4-2,7.8-5.4,10.1c-2.8,1.8-4.4,4.9-4.4,8.2v47
                                            c0,4.6,2.6,8.8,6.8,10.9c6.1,3,38,19.1,67.5,43.3c3.2,2.6,5,6.5,5,10.6v33.4C354.3,378.75,358.7,383.15,364.2,383.15z"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="member-analytic-counts">
                            <div>
                                <div>{{numberFormat(member.totalMemberCount.toString(), ',')}}</div>
                                Team Members
                            </div>
                            <div>
                                <div>{{numberFormat(member.signedUpTodayMemberCount.toString(), ',')}}</div>
                                Signed up today
                            </div>
                        </div>
                    </div>
                </div>
                <div class="member-add" (click)="onAddMember()">
                    <img src="/assets/admin/add-friend.svg"/>
                    Add Team Members
                </div>
                <div class="members-table">
                    <ngx-datatable
                        class="material"
                        [rows]="member.members"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="5"
                        [selected]="member.selectedMembers"
                        [selectionType]="'checkbox'"
                        (activate)="onActivateRecord($event)">
                        <ngx-datatable-column
                            [width]="30"
                            [sortable]="false"
                            [canAutoResize]="false"
                            [draggable]="false"
                            [resizeable]="false"
                            [headerCheckboxable]="true"
                            [checkboxable]="true">
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="info" name="Member" [comparator]="nameComparator">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div class="cell-member-info">
                                    <div class="member-avatar">
                                        <img [src]="value.avatar" width="40"/>
                                        <div class="onOffLineIcon" [ngStyle]="{'background-color': isOnlineUser(value.id) ? '#37a000' : '#a0a0a0' }"></div>
                                    </div>
                                    <div class="member-info">
                                        <div id="member-name">
                                            {{value.name}}
                                        </div>
                                        <div id="member-registered-date">
                                            Registered: {{value.registeredDate}}
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="usage" name="Usage" [comparator]="usageComparator">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div class="cell-usage">
                                    <div class="cell-usage-text">
                                        <div class="cell-usage-percent">
                                            {{value.usagePercent}}%
                                        </div>
                                        <div class="cell-usage-period">
                                            {{value.usagePeriod}}
                                        </div>
                                    </div>
                                    <div class="cell-usage-progress-bar">
                                        <div class="cell-usage-progress-bar-inner" [ngStyle]="{'width': value.usagePercent + '%'}"></div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="lastLoginDate" name="Activity">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div class="cell-activity">
                                    <div class="activity-type">
                                        Last Login
                                    </div>
                                    <div class="activity-content">
                                        {{value}}
                                    </div>
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="role" name="Role">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                {{value == 1 ? 'Admin' : 'User'}}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="status" name="Status">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <div *ngIf="value == 0" style="color: #faa737">Pending</div>
                                <div *ngIf="value == 1" style="color: #00b59a">Active</div>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column prop="playOrPause" name="Play/Pause">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <img class="cell-play-or-pause" [src]="value == true ? '/assets/admin/play.svg' : '/assets/admin/pause.svg'" (click)="onPlayOrPause(value)"/>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column [sortable]="false">
                            <ng-template ngx-datatable-cell-template>
                                <div class="cell-option" [ngbPopover]="optionContent" placement="bottom" #optionPopover="ngbPopover" (document:click)="optionPopover.close()" (click)="$event.stopPropagation()"></div>
                            </ng-template>
                            <ng-template #optionContent>
                                <div (click)="onDeleteRecord()" class="cell-option-popover">
                                    <i class="fa fa-trash-o"></i>&nbsp;&nbsp;Delete
                                </div>
                                </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

    <!-- Delete Record Dialog-->
    <div class="backdrop" [ngStyle]="{'display':props.isDeleteRecord == true ? 'block' : 'none'}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':props.isDeleteRecord == true ? 'block' : 'none'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="btn-close" (click)="onCancelDeleteRecord()" role="button" tabindex="0"></span>
                    <h3 class="modal-title">Delete Account?</h3>
                    This will instantly delete your Blurbiz account, including all projects. <b>This cannot be undone.</b>
                    <input class="form-control" [(ngModel)]="props.deleteConfirmInput" placeholder="type 'delete' to confirm"/>
                    <button [disabled]="props.deleteConfirmInput != 'delete'" class="btn btn-custom btn-orange btn-md" (click)="onConfirmDeleteRecord(); ">Delete Account</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Member Dialog-->
    <div class="backdrop" [ngStyle]="{'display':member.addMember.isAddMember == true ? 'block' : 'none'}"></div>
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':member.addMember.isAddMember == true ? 'block' : 'none'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <span class="btn-close" (click)="onCancelAddMember()" role="button" tabindex="0"></span>
                    <h3 class="modal-title">Add Team Member</h3>
                    Type in 'Email Address' to invite Team members
                    <tag-input
                        [(ngModel)]="member.addMember.addMemberEmails"
                        [theme]="'dark'"
                        [modelAsStrings]="true"
                        [editable]="true"
                        [separatorKeyCodes]="[32, 188]"
                        [secondaryPlaceholder]="'Enter a new email'"
                        [placeholder]="'Add email'"
                        [onlyFromAutocomplete]="true">
                        <tag-input-dropdown
                            [showDropdownIfEmpty]="true"
                            [focusFirstElement]="true"
                            [autocompleteItems]="member.addMember.autoCompleteEmails"
                            [appendToBody]="false"
                            [displayBy]="'value'">
                            <ng-template let-item="item" let-index="index">
                                {{ item.name }}: {{ item.value }}
                            </ng-template>
                        </tag-input-dropdown>
                    </tag-input>
                    <div style="display: flex">
                        <div ngbDropdown class="d-inline-block select-role-panel">
                            <span class="btn btn-outline-secondary" id="drowdownUserRole" ngbDropdownToggle>Admin</span>
                            <div ngbDropdownMenu aria-labelledby="drowdownUserRole">
                                <span class="dropdown-item">Admin</span>
                                <span class="dropdown-item">User</span>
                            </div>
                        </div>
                        <button [disabled]="member.addMember.addMemberEmails.length == 0" class="btn btn-custom btn-orange btn-md" (click)="onConfirmAddMember(); ">Add Team Member</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="backdrop-light" [ngStyle]="{'display':props.isUpdatingNow == true ? 'block' : 'none'}"></div>
    <i *ngIf="props.isUpdatingNow" class="fa fa-spinner fa-pulse fa-4x fa-fw loader"></i>
</div>

<style>
.backdrop-light {
    background-color:rgba(0,0,0,0.2);
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}
.loader {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: 0px -50px;
}
</style>