<div class="login-page">
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button> -->
              <a class="navbar-brand" href="http://blurbiz.io/">BLURBIZ</a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
              <ul class="nav navbar-nav navbar-right">
                  <li><span>Don't have an account?</span>
                    <span [routerLink]="['/signup']" class="btn btn-nav">SIGN UP</span>
                  </li>
              </ul>
          <!-- </div> -->
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
  </nav>
  <form class="form-signin" name="form" (ngSubmit)="login()" #f="ngForm" novalidate>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }" placement="bottom" ngbPopover="Please fill out this field." triggers="manual" #popoverEmail="ngbPopover">
          <label for="email">E-MAIL</label>
          <input type="text" (click)="popoverEmail.close()" class="form-control"  id="email" name="email" #email="ngModel" [(ngModel)]="model.email" required />
          <div class="form-border"></div>
      </div>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }" placement="bottom" ngbPopover="Please fill out this field." triggers="manual" #popoverPassword="ngbPopover">
          <label for="password">PASSWORD</label>
          <input type="password" (click)="popoverPassword.close()" name="password" #password="ngModel" id="password" [(ngModel)]="model.password" class="form-control" />
          <div class="form-border"></div>
      </div>

      <div class="form-option clearfix">
        <a class="lnk-lost" [routerLink]="['/forgot-password']">Forgot your password?</a>
      </div>

      <div class="btn-holder">
          <button class="btn btn-custom btn-login btn-white">Login</button>
      </div>

      <div *ngIf="notification.error" class="alert alert-danger">{{ notification.error }} &nbsp;&nbsp; <a [routerLink]="['/resend']" style="text-decoration: underline">Resend</a></div>
      <div *ngIf="notification.success" class="alert alert-success">{{ notification.success }}</div>
  </form>
</div>